<!DOCTYPE html>
    <html>
        <head>
            <title> Play Game </title>
        </head>
        <body>
            <p>You are playing the game now!</p>

            <form action="/madlib">
                <label>Give us the name of a celebrity:  <input type="text" name="celeb"></label>
                <br> <br>

                <label>An object commonly found in the kitchen:  <input type="text" name="thing"></label>
                <br> <br>

                <label>Choose an adjective:  <input type="text" name="adj"></label>
                   
                <br> <br>

                <label>Pick a color:  </label>
                <select name="color">
                    <option value="blue">blue</option>
                    <option value="orange">orange</option>
                    <option value="green">green</option>
                </select>
                  <br><br>
                <input type="submit" name="submit">
                <br><br>
            </form>
        </body>
    </html>
